@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
    overflow-x: hidden;

}

body {
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

@media only screen and (min-width: 60em) {
  
  html {
    font-size: 110%;
  }
  
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  
}

@media only screen and (min-width: 90em) {
  
  html {
    font-size: 120%;
  }
  
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  
}

@media only screen and (min-width: 120em) {
  
  html {
    font-size: 130%;
  }
  
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  
}



.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

.nav a {
  color: black;
}

.header {
  position: relative;
  width: 100%;
  background-color: rgba(0,0,0,0.05);
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: blue;
  position: relative;
  left: calc(50% - 80px);
}

  
  
@media only screen and (min-width: 25em) {
  
  .nav li {
    display: inline-block;
  }
  
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  
}

@media only screen and (min-width: 38em) {
  
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  
}

@media only screen and (min-width: 60em) {
  
  
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  
}