---
layout: default
---

<div class="banner">
  <img src="{{site.baseurl}}/images/{{page.image-2}}" alt="Dojo" class="main-board">
    <div class="banner-content">
      <h1 class="yotta gutter-2 title-2">Website Development</h1>
    </div>
</div>
  
<article role="main" id="main" class="">
    
  <div class="me-info">

    <h2 class="exa text-center push-0" id="OBEJECTIVE">Objective</h2>

    <p class="">{{page.objective}}</p>

  </div>
    
  <div class="section-sol">

    <div class="me-info">

      <h2 class="exa text-center push-0" id="SOLUTION">Solution</h2>

      <p class="text-left">{{page.solution}} <a href="http://ahmedzein.github.io/dsn1676-term-project/">Link to website</a></p>

    </div>
  </div>
    
  <div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1">
      
      <img src="{{site.baseurl}}/images/{{page.image-3}}" alt="" class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 island-1-2 pad-t-2">
    </div>
  </div>
    
  <div class="">
    
    <div class="">
      
      <div class="wrap-bloc-2">
        
        <div class="box-2 pad-b-1-2 grid">
        
          <h6 class="box-project skip-pro unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3 unit-xl-1-3 pad-top-half"><a href="portfolio-page-two/">Previous</a></h6>
        
      <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3 unit-xl-1-3 pad-b-1-2 gutter">
        <img class="logo-two" src="{{site.baseurl}}/images/{{page.image-4}}" alt="lion-logo">
      </div>
        
      <h6 class="box-project skip-pro unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3 unit-xl-1-3 pad-top-half"><a href="portfolio-page-four/">Next</a></h6>
        </div>
      </div>
    </div>
  </div>
  
</article>

